@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
    background-color:black;
}

::-webkit-scrollbar-thumb {
    background-color:transparent;
}

html{
    scroll-behavior: smooth;
}