@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    background-color:black;
}

::-webkit-scrollbar-thumb {
    background-color:transparent;
}

html{
    scroll-behavior: smooth;
}